.App {
  overflow-x: hidden;
  background-color: rgb(18 12 40);
  
}
.search-form{
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.h1search{
  position: relative;
  float: left;
  color: white;
  font-family: fantasy;
  font-size: 50px;
  margin: 10px;
  
}
.search-bar{
  
  width: 30%;
  
  background: rgba(255,255,255,.1);
  border-radius: 4ch;
  border: none;
  padding: 10px;
}
.search-bar:hover{
  background: white;
  transition: 0.5s;
}
.search-btn{
 position: relative;
 right: 3rem;
 bottom: 2px;
  background: 0 0;
    color: #dee2e6;
    font-size: 1.2em;
    display: block;
    width: 42px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    border: none;
}
.movies{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

footer h3{
  color: white;
  margin: 10px;
  float: right;
  font-size: 15px;
}
@media screen and (max-width: 960px){
  .search-bar{
  
    width: 100%;
    margin: 20px;
    background: rgba(255,255,255,.1);
    border-radius: 4ch;
    border: none;
  
  }
  .search-btn{
    position: relative;
    right: 4rem;
       background: 0 0;
       color: #dee2e6;
       font-size: 1.2em;
       display: block;
       width: 42px;
       height: 42px;
       line-height: 42px;
       text-align: center;
       border: none;
   }
}