.movie{
    
    padding: 0.6px;
    
    }
.image{
width: 5cm;
height: 7cm;
}
.date{
    font-size: 13px;
    color: white;
    padding:1px;
    font-family: cursive;

}
.title{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 5cm;
    color: #f8f9fa;
    font-weight: 500;
    font-size: 1em;
}
.rate{
    font-size: 16px;
    color: white;
}
.rating {
    padding: 2px;
    font-size: 15px;
    color: yellow;
}
@media screen and (max-width: 960px){
    .movie{
    
        padding: 2px;
        }
    .image{
    width: 4cm;
    height: 5cm;
    }
    .date{
        font-size: 13px;
        color: white;
        padding:1px;
       
    
    }
    .title{
        display: block;
        overflow: hidden;
        
        max-width: 5cm;
        color: #f8f9fa;
        font-weight: 500;
        font-size: 1em;
    }
    .rate{
        font-size: 16px;
    }
    .rating {
        padding: 2px;
        font-size: 15px;
        color: yellow;
    }
}
